@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

section[epub|type~="preface"] footer{
	font-variant: small-caps;
	margin-top: 1em;
	text-align: right;
}

abbr[epub|type~="se:era"]{
	font-variant: all-small-caps;
}
